/* ResetPassword.css */




.reset-password-page {
  height: 100vh;
  background-color: #f4f7f6; /* Light grey background */
}



.reset-password-card {
  max-width: 50em;
  min-width: 30em;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f4f7f6; /* Light grey background */

}


.reset-password-form {
  display: flex;
  flex-direction: column;
}

.reset-password-form .MuiTextField-root {
  margin-bottom: 15px;
}

.reset-password-form .MuiButton-root {
  width: 100%;
}

.error-message {
  color: #ff0000;
  margin-top: 10px;
}
