/* FormPreview.css */

.form-preview-title {
    font-size: 24px;
    margin-bottom: 20px;
    color: green;

  }
  
  .preview-question-container {
    display: grid;
    grid-gap: 20px;
  }
  
  .preview-question-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .card-body {
    padding: 20px;
  }
  