/* MainLayout.css */

.main-layout-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the container fills the viewport */
  }
  
  .content-wrapper {
    display: flex;
    flex: 1; /* Allow the main content to take up remaining space */
  }
  
  .main-content {
    flex-grow: 1; /* Allow the main content to take up remaining space */
    padding: 20px;
    padding-top: 64px; /* Adjust for the height of the top navigation bar */
  }
  
  /* Footer styles */
  .footer {
    margin-top: auto; /* Push the footer to the bottom */
  }
  