/* CreateForm.css */

.createFormContainer {
    margin: 10em auto;
    max-width: 800px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.formTitle {
    margin-bottom: 20px;
    text-align: center;
}

.createFormForm {
    display: flex;
    flex-direction: column;
}

.createButton {
    margin-top: 20px;
}
